body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.navbar{
    background-color: aqua;
}

.navbar-brand,
.navbar-nav .nav-link {
    font-weight: bold;
}

.navbar-nav .nav-link {
    transition: border-bottom 0.3s;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #007bff;
}


.shadow-hover:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#loginRegister {
    margin-top: 20px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.card-header .nav-item {
    margin-right: 10px;
}

.tab-content {
    padding: 20px;
    border-top: 1px solid #dee2e6;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto;
    }
}
